/**
 * Add your design tokens as Tailwind theme variables.
 *
 * https://tailwindcss.com/docs/theme
 */

/**
 * Your theme variables are merged with Tailwind’s defaults, either extending
 * the default theme with new variables or overriding the values of existing
 * variables.
 */
@theme {
	/**
	 * These theme variables use CSS variables set by WordPress using values
	 * from your `theme.json` file.
	 *
	 * If you are using the classic editor, you should use hardcoded color
	 * values instead of the `var()` functions below.
     */
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--color-tertiary: var(--tertiary);

	--container-content: var(--wp--style--global--content-size);
	--container-wide: var(--wp--style--global--wide-size);

	--color-border: var(--border);

	/**
	 * These are the default `font-family` theme variables included with
     * Tailwind. You can update them below by adding custom fonts at the
	 * beginning of each value.
	 *
	 * Default theme variables can be found in their entirety at the links
	 * below, on GitHub or in Tailwind’s documentation, respectively:
	 *
	 * https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/theme.css
	 * https://tailwindcss.com/docs/theme#default-theme-variable-reference
	 */
	/* --font-sans:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
		*/
	--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
	--font-mono:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	/**
	 * Add your theme below:
	 */

	--font-sans: "Noto Sans", sans-serif;
	--font-heading: "Poppins", sans-serif;
}

@layer base {
	:root {
		--background: hsl(0, 0, 100%);
		--foreground: hsl(224, 72%, 5%);
		--card: hsl(0, 0%, 100%);
		--card-foreground: hsl(224, 72%, 5%);
		--border: hsl(210, 16%, 87%);
		--primary: hsl(177, 30%, 26%);
		--secondary: hsl(174, 25%, 47%);
	}

	.dark {
		--background: #151415;
		--foreground: hsl(210, 20%, 98%);
		--card: hsl(286, 4%, 16%);
		--card-foreground: hsl(210, 20%, 98%);
		--border: hsl(210, 16%, 25%);
		--primary: hsl(174, 25%, 47%);
	}
}
