/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Use the `components` layer for any more complicated classes you want to add
 *  to your project that you'd still like to be able to override with utility
 *  classes.”
 *
 *  — from https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply relative mx-auto max-w-none text-left text-3xl font-medium text-neutral-900 md:text-5xl dark:text-white;
}
/**
 * Post meta and footer styles
 *
 * These will be applied to the post-specific elements to keep the post itself
 * at content width pending custom styling.
 */
.entry-meta,
.entry-footer,
.post-navigation,
#comments {
	@apply max-w-content mx-auto mb-6;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply max-w-content mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.entry-content p {
	@apply mb-6 text-lg leading-8 md:text-2xl;
}

.entry-content a {
	@apply text-primary hover:text-secondary transition-all duration-300;
}
.entry-content a.btn {
	@apply text-white;
}

.entry-content p.has-medium-font-size {
	@apply !text-lg !leading-8 md:!text-2xl;
}

/* Container */
.container {
	@apply mx-auto px-8;
}

/* Buttons */
.btn {
	@apply bg-primary hover:bg-secondary border-primary inline-flex items-center justify-between rounded-full border-1 py-2 pr-3 pl-6 text-xl font-light text-white transition-all duration-300;
}

.btn svg,
.btn span {
	@apply ml-12;
}

.btn-outline {
	@apply border-primary text-primary hover:bg-secondary dark:hover:text-primary inline-flex items-center justify-between rounded-full border-1 py-2 pr-3 pl-6 text-xl font-light transition-all duration-300 hover:text-white dark:border-white dark:text-white dark:hover:bg-white;
}

.btn-outline-white {
	@apply hover:text-primary inline-flex items-center justify-between rounded-full border-1 border-white py-2 pr-3 pl-6 text-white hover:bg-white;
}

.btn-outline svg {
	@apply dark:text-white;
}

/* Primary Nav Link */
.primary-nav-link {
	@apply aria-[current=page]:text-secondary hover:text-secondary after:bg-secondary block border-b-1 border-stone-800 px-6 py-4 text-xl text-black after:block after:h-[1px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full dark:text-white;
}

/* Sermon Home page */
.enmse-player {
	@apply !m-0 grid items-center md:grid-cols-2;
}
.enmse-content-container {
	@apply px-8 md:p-4;
}

.enmse-poweredby {
	@apply hidden;
}

.enmse-modern-player-tabs {
	@apply hidden;
}

#seriesengine h2.enmse-modern-message-title {
	@apply font-heading text-foreground !text-2xl font-medium md:!text-3xl;
}
#seriesengine h3.enmse-modern-message-meta {
	@apply text-foreground !text-lg !not-italic;
}
.enmse-modern-scripture strong {
	@apply font-medium;
}
.enmse-modern-scripture a {
	@apply bg-white;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	a {
	@apply bg-white;
}

#seriesengine p {
	@apply !leading-7 font-normal;
}

#seriesengine .enmse-player {
	@apply dark:bg-background bg-white;
}

#seriesengine .enmse-player .enmse-modern-player-details h3 {
	@apply font-heading text-foreground mt-4 !text-base font-semibold;
}

.enmse-related-topics {
	@apply bg-red-500;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-related-topics
	a:before {
	@apply mr-2;
}

.sermons-page-wrapper #seriesengine .enmse-related-topics {
	@apply flex flex-col gap-6 md:px-20;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture {
	@apply flex flex-col py-6 md:flex-row;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	a {
	@apply text-primary;
}

#seriesengine .enmse-player .enmse-modern-player-details p {
	@apply text-foreground !text-lg leading-8 md:!text-xl;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-message-description {
	@apply !text-lg leading-8 md:!text-xl;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture {
	@apply text-foreground;
}

#seriesengine #enmse-archive-thumbnails {
	@apply m-0 w-full gap-5 md:gap-10;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb {
	@apply shadow-md;
}

/* Home - Sermons */
.home-sermons #seriesengine {
	max-width: 760px;
	margin: 0 auto;
}

/* Sermons - page */
#seriesengine .enmse-selector {
	@apply dark:bg-background m-0 mb-12 !box-border grid gap-4 bg-gray-100 p-4 md:grid-cols-3;
}

#seriesengine .enmse-selector.three select {
	@apply !w-full border-gray-300 py-3 first:!w-full;
}

.sermons-page-wrapper #seriesengine {
	@apply py-12;
}

.sermons-page-wrapper #seriesengine h3.enmse-more-title {
	@apply pt-10;
}

.sermons-page-wrapper #seriesengine table.enmse-more-messages .enmse-odd {
	@apply dark:bg-stone-800;
}

.sermons-page-wrapper #seriesengine table.enmse-more-messages .enmse-even {
	@apply dark:bg-black;
}

#seriesengine table.enmse-more-messages tr.enmse-odd,
#seriesengine table.enmse-more-messages tr.enmse-even {
	@apply p-6;
}

.sermons-page-wrapper
	#seriesengine
	table.enmse-more-messages
	.enmse-odd
	td.enmse-title-cell,
.sermons-page-wrapper
	#seriesengine
	table.enmse-more-messages
	.enmse-even
	td.enmse-title-cell {
	@apply text-foreground !text-lg;
}

#seriesengine table.enmse-more-messages tr.enmse-even .enmse-speaker-cell,
#seriesengine table.enmse-more-messages tr.enmse-odd .enmse-speaker-cell {
	@apply text-foreground p-0 !text-lg;
}
#seriesengine
	table.enmse-more-messages
	tr.enmse-odd
	td.enmse-date-cell.enmse-speaker-cell,
#seriesengine
	table.enmse-more-messages
	tr.enmse-even
	td.enmse-date-cell.enmse-speaker-cell {
	@apply !text-lg;
}

#seriesengine table.enmse-more-messages tr.enmse-even td.enmse-date-cell,
#seriesengine table.enmse-more-messages tr.enmse-odd td.enmse-date-cell {
	@apply text-foreground !text-lg;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-date-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-date-cell {
	@apply text-foreground !pb-0;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-listen-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-listen-cell {
	@apply block h-auto !text-lg leading-9;
}

.sermons-page-wrapper #seriesengine a:link {
	@apply bg-primary h-auto rounded-full px-4 py-2 text-white no-underline;
}

#seriesengine
	#enmse-archive-thumbnails
	.enmse-archive-thumb
	p.enmse-archive-link
	a {
	@apply bg-primary h-auto rounded-full px-4 py-2 text-white no-underline;
}

#seriesengine .page-numbers.current {
	@apply bg-primary text-white;
}

#seriesengine a.page-numbers {
	@apply hover:bg-gray-200 dark:text-white;
}

.sermons-page-wrapper #seriesengine a.page-numbers {
	@apply dark:text-white dark:hover:bg-black;
}

#seriesengine a.next.page-numbers,
#seriesengine a.previous.page-numbers {
	@apply bg-primary mx-auto !box-border flex h-auto w-2/3 justify-between rounded-full px-6 py-2 !text-lg leading-8 font-normal text-white normal-case hover:bg-gray-300 md:w-auto md:bg-gray-200 dark:hover:bg-black;
}

#seriesengine a.next.page-numbers {
	@apply dark:text-background;
}

#seriesengine a.page-numbers span {
	@apply !box-border block leading-8;
}

/* #seriesengine .page-numbers.current,
#seriesengine .page-numbers.number,
#seriesengine a.page-numbers.wide {
	@apply block;
}
#seriesengine .displaying-num {
	@apply block;
} */

#seriesengine .se-pagination {
	@apply !box-border flex flex-col pt-10;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-listen-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-listen-cell {
	@apply pt-3;
}

#seriesengine .enmse-message-card .enmse-card-links .enmse-listen-cell a {
	@apply bg-primary h-auto w-auto rounded-full px-4 py-2 !text-lg font-medium text-white;
}

#seriesengine .enmse-message-card h5 {
	@apply p-0 !text-lg font-medium md:!text-xl;
}
#seriesengine .enmse-message-card h6 {
	@apply p-0 !text-sm;
}
#seriesengine .enmse-message-card p.enmse-scripture-info {
	@apply !p-0 !text-base;
}
#seriesengine .enmse-message-card p.enmse-speaker-name {
	@apply !text-base;
}

#seriesengine .enmse-related-area.card-view {
	@apply gap-5 md:gap-10;
}
#seriesengine .enmse-message-card {
	@apply shadow-md;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb h4 {
	@apply p-0 !text-lg font-medium;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb h5 {
	@apply p-0 !text-lg;
}
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb p {
	@apply pb-3 !text-lg;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb a,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb.odd a,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb.middle a,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb.even a {
	@apply rounded-none bg-white p-0;
}

#seriesengine
	#enmse-archive-thumbnails
	.enmse-archive-thumb
	p.enmse-archive-link {
	@apply !text-lg;
}

#seriesengine table.enmse-more-messages td.enmse-watch-cell,
#seriesengine table.enmse-more-messages td.enmse-alternate-cell {
	@apply hidden;
}
/* Footer Menu */

.footer-menu {
	@apply grid grid-cols-2 gap-2;
}

.footer-menu a,
.contact-footer-menu a {
	@apply inline-block transition-all duration-300 after:block after:h-[1px] after:w-0 after:bg-gray-400 after:transition-all after:duration-300 after:content-[''] hover:text-gray-400 hover:after:w-full;
}

.link-hover {
	@apply after:block after:h-[1px] after:w-0 after:bg-white after:transition-all after:duration-300 after:content-[''] hover:text-gray-400 hover:after:w-full;
}

.privacy-footer-menu {
	@apply flex justify-center gap-2 md:justify-start;
}

.privacy-footer-menu a {
	@apply pl-1 after:block after:h-[1px] after:w-0 after:bg-gray-400 after:transition-all after:duration-300 after:content-[''] hover:text-gray-400 hover:after:w-full md:before:mr-2 md:before:content-['/'];
}

/* Mailchimp Widget */
.mailchimp-widget .mc4wp-form input[type="email"] {
	@apply mb-0 w-full border-1 border-gray-300 bg-white p-2;
}

.mailchimp-widget h4 {
	@apply font-heading text-foreground mb-2 pb-0 text-xl font-medium;
}

.mailchimp-widget .mc4wp-form input[type="submit"] {
	@apply bg-primary hover:bg-secondary px-6 py-2 font-normal text-white transition-all duration-300;
}

.mailchimp-widget .mc4wp-form label {
	@apply sr-only;
}

.mailchimp-widget .mc4wp-form-fields .wrap {
	@apply flex flex-row items-center;
}

.mailchimp-widget ::placeholder {
	@apply text-gray-400;
}

/* Inner Page Banner */
.inner-page-banner figure {
	@apply col-start-1 row-start-1;
}
.inner-page-banner figure img {
	@apply w-full;
}

.scripture-ref {
	@apply mb-12 !px-6 py-6 font-serif !text-2xl font-light md:px-12;
}

.scripture-ref em {
	@apply font-sans text-sm font-light;
}

/* Hide Header Text Connect Page */

.post-3409 header h1 {
	@apply hidden;
}

/* Contact Form */
.wp-block-contact-form-7-contact-form-selector {
	@apply mx-auto mt-20 max-w-2xl border-1 border-gray-100 px-6 py-6 text-center shadow-md md:px-20 md:py-10 dark:border-stone-800;
}
.wp-block-contact-form-7-contact-form-selector .section-title {
	@apply after:bg-primary text-primary;
}
.wp-block-contact-form-7-contact-form-selector .section-title p {
	@apply mt-10 mb-0;
}

.wp-block-contact-form-7-contact-form-selector .form-subtitle {
	@apply text-primary mb-12 font-serif !text-3xl;
}

.wp-block-contact-form-7-contact-form-selector .form-row {
	@apply my-4;
}

.wpcf7-form {
	@apply mx-auto;
}

.wp-block-contact-form-7-contact-form-selector input[type="text"] {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-white placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector input[type="email"] {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800 placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector select {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector textarea {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800 placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector input[type="submit"] {
	@apply hover:bg-secondary bg-primary w-full rounded-full px-12 py-3 text-center font-serif text-2xl tracking-wide text-white no-underline transition-all duration-300 hover:cursor-default md:ml-20 md:w-1/2;
}

.wpcf7-not-valid-tip {
	@apply mt-2 bg-red-500 text-white;
}

.location-content.active {
	@apply block;
}

.imml-accordion .accordion-btn.active span {
	@apply rotate-180;
}

/* Search Box */
.search-form {
	@apply mb-16 flex items-center justify-between rounded-full border-1 border-solid border-gray-400 bg-transparent px-6 text-black md:mb-24;
}
.search-form input {
	@apply rounded-full border-0 bg-transparent py-3 text-black outline-none;
}
.search-form button {
	@apply block h-[24px];
}

/* Posts - Search Form */
.posts-content .search-form {
	@apply md:hidden;
}
.posts-sidebar .search-form {
	@apply hidden md:flex;
}
.posts-content .post-wrapper .entry-content {
	@apply 2xl:py-0;
}

/* Post - Header */
.post-title {
	@apply text-secondary dark:text-primary hover:text-primary dark:hover:text-tertiary mb-0 text-3xl font-semibold md:leading-8;
}

/* Post - Meta */
.entry-meta {
	@apply flex justify-between gap-2 md:flex-col lg:flex-row;
}
.entry-meta .date {
	@apply hidden;
}
.entry-meta .category-link,
.entry-meta .tag-link,
.entry-meta .author-link {
	@apply flex items-center text-[10px] font-bold uppercase;
}

/* Post - Footer */
.entry-footer {
	@apply flex justify-between md:flex-col md:gap-4 lg:flex-row lg:items-center lg:justify-between;
}
.entry-footer .date,
.entry-footer .author,
.entry-footer .category,
.entry-footer .tag,
.entry-footer .comment-count-wrapper {
	@apply hidden;
}

.posts-wrapper article {
	@apply flex;
}

/* Posts - Sidebar */

.posts-sidebar h2 {
	@apply text-primary dark:text-primary mb-4 pb-2 text-2xl font-semibold;
}

.posts-sidebar li {
	@apply flex py-2;
}

.posts-sidebar li a {
	@apply flex transition-all duration-300 hover:pl-3 hover:text-(--no1-red) dark:hover:text-(--no1-yellow);
}

.posts-sidebar .wp-block-categories-list a {
	@apply transition-all duration-300 before:mr-2 before:block before:h-[24px] before:w-[12px] before:font-semibold before:text-(--no1-red) before:content-['>'] dark:before:text-(--no1-yellow);
}

/* Posts Pagination Nav Links */
.nav-links {
	@apply mt-10 flex items-center gap-3;
}

.nav-links .page-numbers {
	@apply w-[50px] rounded-full py-3 text-center hover:bg-gray-200;
}

.nav-links .page-numbers.current {
	@apply bg-primary hover:bg-secondary text-white;
}

.nav-links .page-numbers.next {
	@apply hover:text-secondary h-auto w-auto hover:bg-transparent;
}

.nav-links .page-numbers.prev {
	@apply hover:text-secondary h-auto w-auto hover:bg-transparent;
}

/* Sidebar */
.posts-sidebar .widget_block {
	@apply rounded-xl bg-gray-200/50 px-6 py-4 pb-8;
}

.category-link,
.read-more-link,
.author-link {
	@apply hover:text-secondary flex items-center;
}

#comments {
	@apply hidden;
}

.single .entry-meta {
	@apply mb-10 bg-gray-100 p-4;
}

/* Single Post */
.single-post h1 {
	@apply !text-center after:!left-[50%] after:!translate-x-[-50%] md:after:!translate-x-[-50%];
}
.single-post .navigation {
	@apply mt-5;
}
.single-post .nav-links {
	@apply flex items-center justify-between;
}
.single-post .nav-previous {
	@apply hover:bg-secondary rounded-full bg-gray-200 px-8 py-2 hover:text-white;
}
.single-post .nav-next {
	@apply bg-primary hover:bg-secondary rounded-full px-8 py-2 text-white;
}
.single-post .nav-previous span {
	@apply first:font-semibold last:hidden;
}
.single-post .nav-next span {
	@apply first:font-semibold last:hidden;
}
.single-post .publish-author {
	@apply hidden;
}
.single-post .publish-link {
	@apply hidden;
}
.single-post .entry-footer {
	@apply hidden;
}
.single-post .publish-date {
	@apply border-r-2 border-gray-400 px-4;
}
.single-post .publish-category {
	@apply px-4;
}
.single-post .category {
	@apply flex gap-2;
}
