/* Contact Form */
.wp-block-contact-form-7-contact-form-selector {
	@apply mx-auto mt-20 max-w-2xl border-1 border-gray-100 px-6 py-6 text-center shadow-md md:px-20 md:py-10 dark:border-stone-800;
}
.wp-block-contact-form-7-contact-form-selector .section-title {
	@apply after:bg-primary text-primary;
}
.wp-block-contact-form-7-contact-form-selector .section-title p {
	@apply mt-10 mb-0;
}

.wp-block-contact-form-7-contact-form-selector .form-subtitle {
	@apply text-primary mb-12 font-serif !text-3xl;
}

.wp-block-contact-form-7-contact-form-selector .form-row {
	@apply my-4;
}

.wpcf7-form {
	@apply mx-auto;
}

.wp-block-contact-form-7-contact-form-selector input[type="text"] {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-white placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector input[type="email"] {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800 placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector select {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector textarea {
	@apply w-full border border-gray-200 bg-gray-100 p-3 px-3 text-gray-800 placeholder:text-gray-800;
}

.wp-block-contact-form-7-contact-form-selector input[type="submit"] {
	@apply hover:bg-secondary bg-primary w-full rounded-full px-12 py-3 text-center font-serif text-2xl tracking-wide text-white no-underline transition-all duration-300 hover:cursor-default md:ml-20 md:w-1/2;
}

.wpcf7-not-valid-tip {
	@apply mt-2 bg-red-500 text-white;
}
