/* Primary Nav Link */
.primary-nav-link {
	@apply aria-[current=page]:text-secondary hover:text-secondary after:bg-secondary block border-b-1 border-stone-800 px-6 py-4 text-[16px] text-black after:block after:h-[1px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full lg:border-b-0 lg:px-0 lg:py-0 lg:text-lg lg:after:hidden xl:text-xl dark:text-white;
}

/* .nav-menu-button {
	@apply hidden;
} */
