/* Primary Nav Link */
.primary-nav-link {
	@apply aria-[current=page]:text-secondary hover:text-secondary after:bg-secondary block border-b-1 border-stone-800 px-6 py-4 text-xl text-black after:block after:h-[1px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full md:border-none md:p-0 md:after:hidden dark:text-white;
}
