/* Primary Nav Link */
.primary-nav-link {
	@apply aria-[current=page]:text-secondary hover:text-secondary after:bg-secondary block border-b-1 border-stone-800 px-6 py-4 text-lg text-black after:block after:h-[1px] after:w-0 after:transition-all after:duration-300 after:content-[''] hover:after:w-full md:after:hidden xl:border-none xl:p-0 2xl:text-xl dark:text-white;
}
