/**
 * Series Engine - Overwrite Styles
 *
 */

#seriesengine * {
	@apply !box-border;
}

.home-sermons #seriesengine {
	@apply max-w-(--container-content) px-10;
}

.home-sermons #seriesengine .enmse-content-container {
	@apply bg-red-500;
}

.enmse-poweredby,
.enmse-modern-player-tabs {
	@apply hidden;
}

/* Filters */
#seriesengine .enmse-selector {
	@apply dark:bg-background mb-10 grid gap-2 bg-gray-100 px-6 py-3 leading-6 md:grid-cols-3 md:gap-6;
}
#seriesengine .enmse-selector.three select {
	@apply placeholder:text-body !h-auto !w-full !text-base first:!w-full first:!text-base;
}
#seriesengine .enmse-selector.three select option {
	@apply bg-red-500;
}

#seriesengine h3.enmse-modern-message-meta {
	@apply !m-0 !py-1 !text-base font-normal !not-italic dark:text-white;
}
#seriesengine h2.enmse-modern-message-title {
	@apply !m-0 font-serif !font-medium dark:text-white;
}

/* Player */
#seriesengine .enmse-player {
	@apply dark:bg-background !mt-10 !mb-0 grid items-center gap-8 bg-white p-6 shadow-md md:grid-cols-2 dark:text-white;
}

/* Player - Left Col */
#seriesengine .enmse-media-container.modern {
	@apply p-0;
}

/* Player - Right Col */

#seriesengine .enmse-player .enmse-modern-player-details {
	@apply m-0 !leading-6;
}
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-message-description {
	@apply m-0 py-3 text-center !text-sm leading-6 font-normal md:!text-sm dark:text-white;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture {
	@apply m-0 flex flex-col py-3;
}
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	strong {
	@apply mb-2 !font-serif font-medium dark:text-white;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-related-topics {
	@apply m-0 flex flex-col justify-center py-3 text-center;
}

#seriesengine .enmse-player .enmse-modern-player-details h3 {
	@apply m-0 p-0 py-3 font-serif !text-lg font-medium italic md:!text-lg;
}

#seriesengine .enmse-blank-p {
	@apply hidden;
}

/* Links */

#seriesengine .enmse-player .enmse-modern-player-details .enmse-related-topics {
	@apply pt-3;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	.enmse-related-topics
	h4 {
	@apply py-2 text-center font-serif font-medium;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	.enmse-related-topics
	.links {
	@apply flex flex-row flex-wrap justify-center pb-3;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	.enmse-related-topics
	.links
	a {
	@apply text-primary hover:text-secondary px-2 transition-all duration-300;
}

#seriesengine .enmse-related-topics .messages,
#seriesengine .messages {
	@apply text-primary px-2 pb-3 text-center;
}

#seriesengine .enmse-related-topics .messages a,
#seriesengine .messages a {
	@apply text-primary hover:text-secondary text-center transition-all duration-300;
}

#seriesengine .enmse-related-topics .downloadItem,
#seriesengine .downloadItem {
	@apply py-3 text-center;
}

#seriesengine .enmse-related-topics .downloadItem a,
#seriesengine .downloadItem a {
	@apply bg-primary hover:bg-secondary rounded-full px-3 py-2 text-white no-underline transition-all duration-300;
}

#seriesengine .enmse-player h3 {
	@apply py-3 text-center font-serif dark:text-white;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-related-topics
	a#enmse-modern-download-audio {
	@apply text-primary border-primary hover:bg-secondary mx-auto flex w-fit gap-2 rounded-full !border px-6 py-3 no-underline transition-all duration-300 hover:text-white;
}

/* Sermons Page Wrapper */
.sermons-page-wrapper #seriesengine .enmse-content-container {
	@apply mx-auto max-w-(--container-wide);
}
.sermons-page-wrapper #seriesengine .enmse-player {
	@apply mx-auto !mb-20 max-w-(--container-content);
}

/* Sermons - More Messages */
#seriesengine h3.enmse-more-title {
	@apply !py-0 !pb-3 !text-xl !font-normal dark:text-white;
}
#seriesengine table.enmse-more-messages {
	@apply !my-5;
}

#seriesengine table.enmse-more-messages tr.enmse-odd {
	@apply dark:bg-background bg-gray-100;
}
#seriesengine table.enmse-more-messages tr.enmse-even {
	@apply bg-white dark:bg-black;
}

#seriesengine table.enmse-more-messages tr.enmse-even td,
#seriesengine table.enmse-more-messages tr.enmse-odd td {
	@apply !py-3 !text-base sm:!text-base lg:!text-base dark:text-white;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-title-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-title-cell {
	@apply !text-lg !font-medium md:!text-lg dark:text-white;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-date-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-date-cell {
	@apply !text-lg md:!text-lg dark:text-white;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-watch-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-watch-cell,
#seriesengine table.enmse-more-messages .enmse-odd td.enmse-alternate-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-alternate-cell {
	@apply !hidden;
}

#seriesengine table.enmse-more-messages td.enmse-listen-cell {
	@apply !w-[125px] !px-3 !py-3;
}
#seriesengine table.enmse-more-messages td.enmse-listen-cell a {
	@apply bg-primary hover:bg-secondary rounded-full px-3 py-2 text-white no-underline;
}

/* Pagination */
#seriesengine .se-pagination {
	@apply flex justify-center gap-2 p-0 pt-5;
}

#seriesengine a.page-numbers {
	@apply bg-gray-300 !text-base leading-[30px] !text-black hover:bg-gray-600 hover:!text-white;
}

#seriesengine .page-numbers.current {
	@apply bg-primary h-auto rounded-full !text-base leading-[30px] text-white;
}

#seriesengine a.next.page-numbers,
#seriesengine a.previous.page-numbers {
	@apply bg-gray-100 !text-base leading-[30px] hover:bg-gray-600 hover:!text-white;
}

/* Sermons Archive */
.sermons-archive-wrapper #seriesengine {
	@apply max-w-(--container-wide);
}
.sermons-archive-wrapper #seriesengine .enmse-player {
	@apply mx-auto !mb-20 max-w-(--container-content);
}

#seriesengine #enmse-archive-thumbnails,
#seriesengine .enmse-related-area.card-view {
	@apply !m-0 grid grid-cols-1 gap-6 !p-0 md:grid-cols-2 md:grid-cols-3;
}
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb.middle,
#seriesengine .enmse-message-card,
#seriesengine .enmse-message-card.enmse-middlecard,
#seriesengine .enmse-message-card.enmse-oddcard {
	@apply dark:bg-background m-0 w-full shadow-md;
}

/* Card */
#seriesengine .enmse-message-card img,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb img {
	@apply !mb-0;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb h4 {
	@apply !p-0 !pt-2 font-serif !text-lg !font-medium dark:text-white;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb h5 {
	@apply !p-0 !text-sm !font-light dark:text-white;
}

#seriesengine .enmse-message-card h5 {
	@apply !p-0 !pb-2 font-serif !text-lg !font-normal dark:text-white;
}

#seriesengine .enmse-message-card h6 {
	@apply !p-0 !pt-2 !text-sm !font-light dark:text-white;
}

#seriesengine .enmse-message-card p.enmse-speaker-name {
	@apply !p-0 !text-base !font-normal not-italic dark:text-white;
}

#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb p {
	@apply !p-0 !py-2 !text-base !font-normal not-italic dark:text-white;
}

#seriesengine .enmse-message-card p.enmse-scripture-info {
	@apply !mb-0 !p-0 !text-sm !font-light dark:text-white;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	a {
	@apply text-primary hover:text-secondary transition-all duration-300;
}

#seriesengine
	#enmse-archive-thumbnails
	.enmse-archive-thumb
	p.enmse-archive-link {
	@apply !m-0 !p-0 !pb-4 !text-base !leading-10;
}

#seriesengine
	#enmse-archive-thumbnails
	.enmse-archive-thumb
	p.enmse-archive-link
	a {
	@apply bg-primary hover:bg-secondary rounded-full px-4 py-2 text-white no-underline transition-all duration-300;
}

#seriesengine .enmse-related-area .enmse-card-links {
	@apply !pt-2;
}

#seriesengine .enmse-message-card .enmse-card-links .enmse-listen-cell a {
	@apply bg-primary hover:bg-secondary !h-auto !w-auto rounded-full px-4 py-2 !text-base text-white no-underline transition-all duration-300;
}
