/**
 * Series Engine - Overwrite Styles
 *
 */

#seriesengine * {
	@apply !box-border;
}

.home-sermons #seriesengine {
	@apply max-w-(--container-content);
}

/* .enmse-content-container {
	@apply bg-white;
} */

.enmse-poweredby,
.enmse-modern-player-tabs {
	@apply hidden;
}

/* Filters */
#seriesengine .enmse-selector {
	@apply mb-10 grid gap-6 bg-gray-100 px-6 py-3 md:grid-cols-3;
}
#seriesengine .enmse-selector.three select {
	@apply !w-full;
}
#seriesengine .enmse-selector.three select {
	@apply h-auto !text-base;
}

#seriesengine h3.enmse-modern-message-meta {
	@apply !m-0 !py-1 !text-base font-normal !not-italic;
}
#seriesengine .enmse-modern-message-title {
	@apply !m-0 font-serif !font-medium;
}

/* Player */
#seriesengine .enmse-player {
	@apply !mt-10 !mb-0 grid items-center gap-8 bg-white p-6 shadow-md md:grid-cols-2;
}

/* Player - Left Col */
#seriesengine .enmse-media-container.modern {
	@apply p-0;
}

/* Player - Right Col */

#seriesengine .enmse-player .enmse-modern-player-details {
	@apply m-0;
}
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-message-description {
	@apply m-0 py-3 text-center !text-sm leading-6 font-normal md:!text-sm;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture {
	@apply m-0 flex flex-col py-3;
}
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	strong {
	@apply mb-2 !font-serif font-medium;
}

#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-related-topics {
	@apply m-0 flex flex-col justify-center py-3 text-center;
}

#seriesengine .enmse-player .enmse-modern-player-details h3 {
	@apply m-0 p-0 py-3 font-serif !text-lg font-medium italic md:!text-lg;
}

#seriesengine .enmse-blank-p {
	@apply hidden;
}

/* Links */
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-modern-scripture
	a {
	@apply text-primary;
}
#seriesengine
	.enmse-player
	.enmse-modern-player-details
	p.enmse-related-topics
	a {
	@apply text-primary border-primary hover:bg-secondary mx-auto flex w-fit gap-2 rounded-full !border px-6 py-3 no-underline transition-all duration-300 hover:text-white;
}

/* Sermons Page Wrapper */
.sermons-page-wrapper #seriesengine .enmse-content-container {
	@apply mx-auto max-w-(--container-content);
}
.sermons-page-wrapper #seriesengine .enmse-player {
	@apply !mb-20;
}

/* Sermons - More Messages */
#seriesengine h3.enmse-more-title {
	@apply !py-0 !text-xl !font-normal;
}
#seriesengine table.enmse-more-messages {
	@apply !my-5;
}
#seriesengine table.enmse-more-messages tr.enmse-even td,
#seriesengine table.enmse-more-messages tr.enmse-odd td {
	@apply !py-3 !text-base sm:!text-base lg:!text-base;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-title-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-title-cell {
	@apply !text-lg !font-medium md:!text-lg;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-date-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-date-cell {
	@apply !text-lg md:!text-lg;
}

#seriesengine table.enmse-more-messages .enmse-odd td.enmse-watch-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-watch-cell,
#seriesengine table.enmse-more-messages .enmse-odd td.enmse-alternate-cell,
#seriesengine table.enmse-more-messages .enmse-even td.enmse-alternate-cell {
	@apply !hidden;
}

#seriesengine table.enmse-more-messages td.enmse-listen-cell {
	@apply !w-[125px] !px-3 !py-3;
}
#seriesengine table.enmse-more-messages td.enmse-listen-cell a {
	@apply bg-primary hover:bg-secondary rounded-full px-3 py-2 text-white no-underline;
}

/* Pagination */
#seriesengine .se-pagination {
	@apply flex justify-center gap-2 p-0 pt-5;
}

#seriesengine a.page-numbers {
	@apply bg-gray-300 !text-base leading-[30px] !text-black hover:bg-gray-600 hover:!text-white;
}

#seriesengine .page-numbers.current {
	@apply bg-primary h-auto rounded-full !text-base leading-[30px] text-white;
}

#seriesengine a.next.page-numbers,
#seriesengine a.previous.page-numbers {
	@apply bg-gray-100 !text-base leading-[30px] hover:bg-gray-600 hover:!text-white;
}

/* Sermons Archive */
.sermons-archive-wrapper #seriesengine {
	@apply max-w-(--container-wide);
}

#seriesengine #enmse-archive-thumbnails {
	@apply grid grid-cols-2 gap-6 md:grid-cols-3;
}
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb,
#seriesengine #enmse-archive-thumbnails .enmse-archive-thumb.middle {
	@apply m-0 w-full bg-red-500;
}
